block vars

doctype html
html(class=htmlClass id=htmlId)
    head
        title
            block title

        block meta
            meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
            meta(name="format-detection" content="telephone=no")
            meta(charset='utf-8')
            link(rel="stylesheet" href="common/style/main.css")

    body(class=bodyClass id=bodyId)

        block content


        block scripts
            //Scripts
            script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

            script(src="common/script/assets.min.js")
            script(src="common/script/main.min.js")
